.large {
    width : 150px;
    height : 50px;
}
.small{
    width: 90px;
    height: 25px;
}
.medium{
    width: 120px;
    height: 40px;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.teal{
    background-color: teal;
}